/* Common Css Start */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.section_info{
    text-align: center;
}
.section_info h2{
    font-size: 46px;
    font-weight: 800;
    color: #02918c;
    text-transform: uppercase;
}
.section_info p{
    font-size: 16px;
    line-height: 41px;
    color: #7e8287;
    margin: auto;
}
/* //Common Css End */

/* Nav Section Css Start */
#navigation{
    background-color: #02918c;
}
#navigation div.row{
    justify-content: space-between;
    align-items: center;
}
#navigation ul li a{
    font-size: 12px;
    font-weight: 800;
    color: #ffffff;
    text-transform: uppercase;
    padding: 12px 25px;
    margin: 20px 0;
    display: inline-block;
    transition: .7s;
}
#navigation ul li:hover a{
    background-color: #cfc91d;
    color: #0b1016;
    border-radius: 5px 15px 5px 15px;
}
/* //Nav Section Css End */

/* Banner Section Css Start */
#banner{
    height: 728px;
    background-image: url(../img/banner_bg.jpg);
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    position: relative;
    z-index: 1;
}
#banner::after{
    content: '';
    position: absolute;
    background: #000000;
    inset: 0;
    opacity: 0.7;
    z-index: -1;
}
#banner .container{
    height: 100%;
}
#banner .row{
    align-items: center;
    justify-content: center;
    height: 100%;
}
#banner h3{
    font-size: 30px;
    font-weight: 400;
}
#banner h1{
    font-size: 68px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 30px;
}
#banner p{
    font-size: 18px;
}
#banner img{
    display: block;
    margin:52px auto;
}
#banner a{
    font-size: 14px;
    color: #0b1016;
    font-weight: 800;
    text-transform: uppercase;
    background-color: #cfc91d;
    padding: 19px 42px;
    display: inline-block;
    letter-spacing: 2px;
    transition: .7s;
}
#banner a:hover{
    border-radius: 30px;
}
/* //Banner Section Css End */

/* About Section Css Start */
#about{
    padding: 100px 0;
}
#about .section_info{
    width: 880px;
    padding-left: 150px;
    align-items: center;
}
#about .about_item{
    width: 25%;
    text-align: center;
    border-right: 1px solid #7e8287;
    padding: 50px 60px;
    margin-top:50px;
}
#about .about_item:last-child{
    border-right: none;
}
#about .about_item h4{
    font-size: 16px;
    font-weight: 800;
    margin: 30px 0;
    color: #7e8287;
}
#about .about_item p{
    font-size: 11px;
    line-height: 21px;
    color: #7e8287;
}
/* //About Section Css End */


/* Service Section Css Start */
#service{
    background: url(../img/service.bg.jpg);
    background-size: cover;
    background-position: center;
    background-color: #f0f0e8;
    background-position: top right;
    position: relative;
    padding: 80px 0 25px;
}
#service .inner_container{
    width: 50%;
    padding-right: 85px;
}
#service .section_info{
    text-align: left;
}
#service .about_item{
    width: 50%;
    padding-right: 110px;
    margin-bottom: 54px;
}
#service .about_item img{
    padding-top: 50px;
}
#service .about_item h4{
    font-size: 16px;
    font-weight: 800;
    color: #7e8287;
    margin: 20px 0;
}
#service .about_item p{
    font-size: 11px;
    line-height: 21px;
    color: #7e8287;
}

/* //Service Section Css End */

/* My Work Section Css Start */
#mywork .section_info{
    margin: 80px 0 100px;
}
#mywork .section_info p{
    width: 680px;
}
#mywork .mywork_item{
    width: 25%;
    position: relative;
}
#mywork .mywork_item img{
    width: 100%;
    display: block;
}
#mywork .mywork_item .overlay{
    position: absolute;
    z-index: 999;
    inset: 20px 27px;
    background-color: rgba(2,145,139,0.85);
    transition: .6s;
    text-align: center;
    transform: scale(0) skew(5deg);
}
#mywork .mywork_item:hover .overlay{
    transform-origin: center;
    transform: scale(1) skew(0);
}
#mywork .mywork_item .overlay h4{
    font-size: 16px;
    font-weight: 800;
    padding-bottom: 15px;
}
#mywork .mywork_item .overlay p{
    font-size: 13px;
    line-height: 21px;
    width: 190px;
    margin: auto;
}
/* My Work Section Css End */


/* contact section start */
#contact  .section_info{
    margin: 80px 0 100px;
}
#contact .form .container{
    background: url(../img/contact-bg.jpg)
}
#contact .form{
    align-items: center;
    background-color: #0A0A0A;
    padding: 60px 100px;
}
#contact .form .input-field{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #7e8287;
    border: none;
    width: 70%;
    margin:  auto;
    background: none;
    display: block;
    text-align: center;
    border-bottom: 1px solid #898989;
    padding: 40px 30px 10px;
    transition: .7s;
}
#contact .form  textarea{
    padding: 10px 0 90px;
}
#contact .form button.input-field{
    display: inline-block;
    font-family:'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: #0b1016;
    width: auto;
    background-color: #cfc91d;
    padding: 15px 65px;
    margin-left: 480px;
    margin-top: 65px;
    cursor: pointer;
    transition: .7s;
}
#contact .form button.input-field:hover{
    border-radius: 30px;
}
/* contact section end */
 
/* footer section css start */
#footer{
    background-color: #000000;
    font-size: 14px;
    color:#7e8287;
    padding:20px 0 25px;
    text-transform: uppercase;
    text-align: center;
}
/* footer section  css  end */